<html lang="en" xmlns="http://www.w3.org/1999/html">

	<head>

		<meta charset="utf-8">


		<title>Disaster Management System - Tasks</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> <!-- for jquery -->

        <script type= "text/javascript">
        	$(document).on('click', '#AddTaskButton', function() {
		    	$('#add_task_form').show()
		    });

		    $(document).on('click', '#cancel_create_task', function() {
		    	$('#add_task_form').hide()
		    });

		    $(document).ready(function() {
		      	$('#userpoststable').hide()
		      	$('#userdonationstable').hide()
			});

			$(document).on('click', '#userposts', function() {
				if($('#userpoststable').is(":hidden"))
					$('#userpoststable').show()
				else{
					$('#userpoststable').hide()
				}
		    });

			$(document).on('click', '#userdonations', function() {
				if($('#userdonationstable').is(":hidden"))
					$('#userdonationstable').show()
				else{
					$('#userdonationstable').hide()
				}
		    });

		    $(document).on('click', '#posts', function() {
				if($('#tasktable').is(":hidden"))
					$('#tasktable').show()
				else{
					$('#tasktable').hide()
				}
		    });

		    $(document).on('click', '#items', function() {
				if($('#itemtable').is(":hidden"))
					$('#itemtable').show()
				else{
					$('#itemtable').hide()
				}
		    });

		    $(document).on('click', '#donations', function() {
				if($('#donationtable').is(":hidden"))
					$('#donationtable').show()
				else{
					$('#donationtable').hide()
				}
		    });


            console.log('text js called')
            $(document).on('click', '.delete_post', function() {
            	post_id = $(this).attr('id'),
                console.log('click detected post id = ', $(this).attr('id'))
                $.getJSON('/_delete_post', {
			        post_id: post_id
			      }, function(data) {
			      	console.log('returned data = ', data.result)
			      	$('#post_'+post_id).remove()
			      	$('#user_post_'+post_id).remove()
			        //$("#result").text(data.result);
			        return false;
			      });
            });

            console.log('text js called')
            $(document).on('click', '.delete_item', function() {
            	item_id = $(this).attr('value'),
                console.log('click detected post id = ', $(this).attr('id'))
                $.getJSON('/_delete_item', {
			        item_id: item_id
			      }, function(data) {
			      	console.log('returned data = ', data.result)
			      	$('#item_'+item_id).remove()
			        //$("#result").text(data.result);
			        location.reload();
			        return false;
			      });
            });

			console.log('text js called')
            $(document).on('click', '.delete_donation', function() {
            	donate_id = $(this).attr('value'),
                $.getJSON('/_delete_donation', {
			        item_id: donate_id
			      }, function(data) {
			      	console.log('returned data = ', data.result)
			      	$('#user_donation_'+donate_id).remove()
			      	$('#donation'+donate_id).remove()
			        //$("#result").text(data.result);
			        location.reload();
			        return false;
			      });
            });

            $(document).on('click', '.create_post', function() {
            	disaster_title = $('#disaster_title').val()
            	disaster_description = $('#disaster_description').val()
            	if (disaster_description.length ==0 || disaster_title.length==0){
			      		return false;
			      	}
                console.log('title', disaster_title)
                console.log('description', disaster_description)
                $('#add_task_form').hide()
                $.getJSON('/_create_post', {
			        disaster_title: disaster_title,
			        disaster_description: disaster_description
			      }, function(data) {
			      	console.log('returned data = ', data)

			      	post = data.post
			      	new_elem = "<tr id = "+post.id+" > \
							<td> \
								<a href=post"+post.id+">"+post.title+"</a> \
							</td> \
							<td> \
								"+ post.timestamp + " \
							</td> \
							<td> \
								" + post.author +" \
							</td> \
							<td> \
							    Yes \
							</td> \
						</tr>"
					$('#tasktable tbody').append(new_elem)
			        //$("#result").text(data.result);
			        location.reload();
			        return false;
			      });
            });

        </script>

	</head>

	<body>

		<header>

			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{ url_for('main.admin') }}">Disaster Relief Management System</a>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a href="{{ url_for('main.logout') }}" class="nav-link">Log Out</a></li>
						</ul>
					</div>
			</nav>
		</header>

		<!-- Begin page content -->
		<main role="main" class="container" style="padding: 72px 15px 0;">
            <button class="btn btn-primary" id="AddTaskButton" type="button"
			  data-toggle="collapse" data-target="#AddEditTask" style="margin:6px;" >Create post</button>

			<div id='add_task_form' style="display:none">

			    <div class="form-group" >
					<p>
						<label for="id_title">Title:</label>
						<input class="form-control" type="text" name="title" autofocus="" maxlength="254" required="" id="disaster_title" placeholder="Title of the task">
					</p>
			    </div>

			    <div class="form-group">
					<p>
						<label for="id_description">Description:</label>
						<textarea class="form-control" type="text" name="description" required="" id="disaster_description" placeholder="Description of the task"></textarea>
					</p>
			    </div>

			    <button class="btn btn-primary create_post">Submit</button>
			    <button id="cancel_create_task" class="btn btn-success" style="margin-left:12px">Cancel</button>
			</div>

			<form method = "post" action="/admin">
				<div class = "">
						<div class="input-group">
							  <input type="text" class="form-control" id="search" placeholder="Search" name="search">
						</div>
						<select id="filter_by" name = "filter_by">
							<option value="Posts">Posts</option>
							<option value="Items">Items</option>
							<option value="Donations">Donations</option>
						</select>
				</div>
			</form>

			<div class="button">
  					<button type="button" class="btn btn-info btn-block btn-sm" id = userposts data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:6px;">Admin Posts
				</button>
			</div>


			{% if user_posts %}
				<table class="table" id="userpoststable" style="display:table-header-group" align="center">
				    <thead>
					<tr class="nodrop">
				    	<th>Disaster title</th>
				    	<th>Created on</th>
						<th>Active</th>
						<th>Delete</th>
				    </tr>
					</thead>
					<tbody>
					{%  for user_p in user_posts %}
						<tr id = user_post_{{user_p.id}} >
							<td>
								<a href="post{{user_p.id}}"> {{user_p.title}}</a>
							</td>
							<td style="text-align:center">
								{{ user_p.timestamp}}
							</td>

							<td style="text-align:center">
							    Yes
							</td>
							<td style="text-align:center">
								<button class='delete_post btn btn-danger btn-sm' id = {{ user_p.id }}>Delete post </button>
							</td>
						</tr>
				    {% endfor %}
					</tbody>
				  </table>
			{% endif %}

			<button type="button" class="btn btn-info btn-block btn-sm" id = userdonations data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:6px;">Admin Donations
				</button>
			{% if user_donations %}
				<table class="table" id="userdonationstable" style="display:table-header-group" align="left">
					<thead>
				    <tr>
				    	<th>Post Link</th>
				    	<th>Quantity</th>
						<th>Delete</th>
				    </tr>
					</thead>
					<tbody>
					{%  for donation in user_donations %}
						<tr id = user_donation_{{donation.post_id}} align="center" >
							<td style="text-align:center">
								<a href="post{{donation.post_id}}"> Link</a>
							</td>
							<td style="text-align:center">
								{{ donation.quantity}}
							</td>

							<td style="text-align:center">
								<button class='delete_donation btn btn-danger btn-sm' id = did{{ donation.id }} value = {{ donation.id }}>Delete Donation </button>
							</td>
						</tr>
				    {% endfor %}
					</tbody>
				  </table>
			{% endif %}


        	{% if posts %}
				<table class="table" id="tasktable" style="display:table-header-group">
					<button type="button" class="btn btn-info btn-block btn-sm" id = posts data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:5px;"> Posts
					</button>
				    <tr class="nodrop">
				    	<th>Disaster title</th>
				    	<th>Created on</th>
						<th>Posted by</th>
						<th>Active</th>
						<th>Delete</th>
				    </tr>

				    {% for post in posts %}
						<tr id = post_{{post.id}} >
							<td>
								<a href="post{{post.id}}"> {{post.title}}</a>
							</td>
							<td style="text-align:center">
								{{ post.timestamp}}
							</td >

							<td style="text-align:center">
								{{ post.author.username }}
							</td>
							<td style="text-align:center">
							    Yes
							</td>
							<td style="text-align:center">
								<button class='delete_post btn btn-danger btn-sm' id = {{ post.id }}>Delete post </button>
							</td>
						</tr>
				    {% endfor %}
				  </table>

		    {% elif items%}
				<button type="button" class="btn btn-info btn-block btn-sm" id = items data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:5px;"> Items
					</button>
				<table class="table table-hover" id="itemtable" style="display:table-header-group">
				    <tr class="nodrop">
				    	<th>Item Title</th>
				    	<th>Quantity</th>
						<th>Unit</th>
						<th>Delete</th>
				    </tr>

				    {% for item in items %}
						<tr id = item_{{item.id}} >
							<td>
								<a href="post{{item.post_id}}"> {{item.name}}</a>
							</td>
							<td style="text-align:center">
								{{ item.quantity}}
							</td>
							<td style="text-align:center">
								{{ item.unit}}
							</td>
						    <td style="text-align:center">
								<button class='delete_item btn btn-danger btn-sm' id = id{{ item.id }} value = {{ item.id }}>Delete item </button>
						    </td>
						</tr>
				    {% endfor %}
				  </table>

			{% elif donations %}
				<button type="button" class="btn btn-info btn-block btn-sm" id = donations data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:5px;"> Donations
					</button>
				<table class="table" id="donationtable" style="display:table-header-group">
					<thead>
				    <tr class="nodrop">
				    	<th>Post Link</th>
				    	<th>Quantity</th>
						<th>Delete</th>
				    </tr>
					</thead>
					<tbody>
				    {% for don in donations %}
						<tr id = donation_{{don.id}} >
							<td style="text-align:center">
								<a href="post{{don.post_id}}"> Link </a>
							</td>
							<td style="text-align:center">
								{{don.quantity}}
							</td>
						    <td style="text-align:center">
								<button class='delete_donation btn btn-danger btn-sm' id = did{{ don.id }} value = {{ don.id }}>Delete Donation </button>
						    </td>
						</tr>
				    {% endfor %}
					</tbody>
				  </table>
			{% endif %}
        </main>

	</body>
</html>