<html lang="en">

	<head>

		<meta charset="utf-8">


		<title>Disaster Management System - Tasks</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> <!-- for jquery -->

        <script type= "text/javascript">
        	$(document).on('click', '#AddTaskButton', function() {
		    	$('#add_task_form').show()
		    });

		    $(document).on('click', '#cancel_create_task', function() {
		    	$('#add_task_form').hide()
		    });

		    $(document).on('click', '#posts', function() {
				if($('#tasktable').is(":hidden"))
					$('#tasktable').show()
				else{
					$('#tasktable').hide()
				}
		    });

		    $(document).ready(function() {
		      	$('#userdonationstable').hide()
			});

            console.log('text js called')
            $(document).on('click', '.delete_post', function() {
            	post_id = $(this).attr('id'),
                console.log('click detected post id = ', $(this).attr('id'))
                $.getJSON('/_delete_post', {
			        post_id: post_id
			      }, function(data) {
			      	console.log('returned data = ', data.result)
			      	$('#post_'+post_id).remove()
			        //$("#result").text(data.result);
			        return false;
			      });
            });

            console.log('text js called')
            $(document).on('click', '.delete_item', function() {
            	item_id = $(this).attr('value'),
                console.log('click detected post id = ', $(this).attr('id'))
                $.getJSON('/_delete_item', {
			        item_id: item_id
			      }, function(data) {
			      	console.log('returned data = ', data.result)
			      	$('#item_'+item_id).remove()
			        //$("#result").text(data.result);
			        return false;
			      });
            });

			$(document).on('click', '#userdonations', function() {
				if($('#userdonationstable').is(":hidden"))
					$('#userdonationstable').show()
				else{
					$('#userdonationstable').hide()
				}
		    });

            $(document).on('click', '.create_post', function() {
            	disaster_title = $('#disaster_title').val()
            	disaster_description = $('#disaster_description').val()
            	if (disaster_description.length ==0 || disaster_title.length==0){
			      		return false;
			      	}
                console.log('title', disaster_title)
                console.log('description', disaster_description)
                $('#add_task_form').hide()
                $.getJSON('/_create_post', {
			        disaster_title: disaster_title,
			        disaster_description: disaster_description
			      }, function(data) {
			      	console.log('returned data = ', data)

			      	post = data.post
			      	new_elem = "<tr id = "+post.id+" > \
							<td> \
								<a href=post"+post.id+">"+post.title+"</a> \
							</td> \
							<td> \
								"+ post.timestamp + " \
							</td> \
							<td> \
								" + post.author +" \
							</td> \
							<td> \
							    Yes \
							</td> \
						</tr>"
					$('#tasktable tbody').append(new_elem)
			        //$("#result").text(data.result);
			        location.reload();
			        return false;
			      });
            });

        </script>

	</head>

	<body>

		<header>

			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{ url_for('main.index') }}">Disaster Relief Management System</a>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a href="{{ url_for('main.logout') }}" class="nav-link">Log Out</a></li>
						</ul>
					</div>
			</nav>
		</header>

		<!-- Begin page content -->
		<main role="main" class="container" style="padding: 72px 15px 0;">
			{% if current_user.user_type != 'D'%}
            <button class="btn btn-primary" id="AddTaskButton" type="button"
			  data-toggle="collapse" data-target="#AddEditTask" style="margin:6px;">Create post</button>

			<div id='add_task_form' style="display:none">

			    <div class="form-group" >
					<p>
						<label for="id_title">Title:</label>
						<input class="form-control" type="text" name="title" autofocus="" maxlength="254" required="" id="disaster_title" placeholder="Title of the task">
					</p>
			    </div>

			    <div class="form-group">
					<p>
						<label for="id_description">Description:</label>
						<textarea class="form-control" type="text" name="description" required="" id="disaster_description" placeholder="Description of the task"></textarea>
					</p>
			    </div>

			    <button class="btn btn-primary create_post">Submit</button>
			    <button id="cancel_create_task" class="btn btn-success" style="margin-left:12px">Cancel</button>
			</div>
			{% endif %}


			{% if current_user.user_type == 'D'%}
				<button type="button" class="btn btn-info btn-block btn-sm" id = userdonations data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:6px;">Your Donations To Active Posts
					</button>
				{% if donations %}
					<table class="table" id="userdonationstable" style="display:table-header-group">
						<thead>
						<tr class="nodrop">
							<th>Post Link</th>
							<th>Quantity</th>
						</tr>
						</thead>
						<tbody>
						{%  for donation in donations %}
							<tr id = user_donation_{{donation.post_id}} >
								<td style="text-align:center">
									<a href="post{{donation.post_id}}" > Link</a>
								</td>
								<td style="text-align:center">
									{{ donation.quantity}}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					  </table>
				{% endif %}
			{% endif %}

			<button type="button" class="btn btn-info btn-block btn-sm" id = posts data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin:5px;"> Posts
					</button>
        	{% if posts %}
				<table class="table" id="tasktable" style="margin-top: 20px;">
				    <tr class="nodrop">
				    	<th>Disaster title</th>
				    	<th>Created on</th>
						{% if current_user.user_type == 'D' %}
						<th>Posted by</th>
						{% endif%}
						<th>Active</th>
						{% if current_user.user_type == 'R' %}
						   <th>Delete</th>
				        {% endif%}
				    </tr>

				    {% for post in posts %}
						<tr id = post_{{post.id}} >
							<td>
								<a href="post{{post.id}}"> {{post.title}}</a>
							</td>
							<td >
								{{ post.timestamp}}
							</td>
							{% if current_user.user_type == 'D' %}
							<td style="text-align:center">
								{{ post.author.username }}
							</td>
							{% endif%}
							<td style="text-align:center">
							    Yes
							</td>

							{% if current_user.user_type != 'D' %}
					           <td style="text-align:center">
					           	    <button class='delete_post btn btn-danger btn-sm' id = {{ post.id }}>Delete post </button>
					           	</td>
					        {% endif%}
						</tr>
				    {% endfor %}
				  </table>
			{% endif %}
        </main>

	</body>
</html>